body{
font-family: 'Varela Round', sans-serif;
background:#7ABA7A;

}

.characterSection{
    display:flex;
    justify-content:center;
    width:85%;
}

.characterImage{
    width: 250px;
}

ul{
    display:flex;
    justify-content:center;
    list-style: none;
}

.profileName{
    text-align:center;
    margin-right:10px;
}

.estelleImage{
    width:55px;
}
.quoteSection{
    margin:20px;
}
li{
    margin-left: 10px;
}