body{
font-family: 'Varela Round', sans-serif;
background:#028482;

}
.rosterImage{
    width:150px;

}
.roster{
    display:flex;
    justify-content:center;
}
.character{
    border:solid 2px grey;
    border-radius:5px;
    padding:20px;
    text-align:center;
    margin:10px;
}
.homeHeader{
    margin-top:150px;
    text-align:center;
    margin-bottom:150px;
}

ul{
    display:flex;
    justify-content:center;
}
li{
    margin:5px;
    list-style: none;
}
#estelleImage{
    width:55px;
}